@media only screen and (max-width: 350px) {
    .navbar-nav {
        display: none;
    }
    body {
        background: rgb(9, 23, 25);
        background: linear-gradient(180deg, rgba(9, 23, 25, 1) 0%, rgba(10, 47, 53, 1) 35%);
        font-family: 'Pridi', serif;
    }
    .ul-mobilemenu {
        list-style-type: none;
        margin: 5px;
        padding: 0;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .li-mobilemenu {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
    }
    .li-mobilemenu:hover {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        -webkit-animation: wobble-hor-bottom 0.8s 3 both;
        animation: wobble-hor-bottom 0.8s 3 both;
    }
    .mobilemenuimg {
        display: inline-block;
    }
    .mobilemenuimg:hover {
        display: inline-block;
        -webkit-animation: wobble-hor-bottom 0.8s 3 both;
        animation: wobble-hor-bottom 0.8s 3 both;
    }
    .buttonhead {
        margin-top: 10px;
        font-size: 12px;
        background: #F5C552;
        border-radius: 15px;
        border: none;
        margin-right: 3px;
    }
    .navufamoon {
        background: rgb(9, 23, 25);
        background: linear-gradient(90deg, rgba(9, 23, 25, 1) 0%, rgba(10, 47, 53, 1) 35%);
        color: white;
    }
    .navtextmoon {
        color: white;
        border-radius: 15px;
        margin-right: 5px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .navtextmoon :hover {
        color: white;
        background-color: #F5C552;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .navtextmoon :link {
        color: white;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .mobilenavbar-nav {
        display: block;
    }
    .logo {
        width: 100px;
        height: auto;
    }
    .bgslide {
        background-image: url("/asset/72bgmoon.png");
        width: 100%;
        height: auto;
    }
    .rune {
        background-image: url("/asset/1920runes.png");
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .imgslide {
        width: 95%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .headmenu {
        margin-top: 10px;
        color: white;
        text-align: center;
    }
    .headmenubg {
        background: rgb(67, 151, 141);
        background: linear-gradient(180deg, rgba(67, 151, 141, 1) 0%, rgba(38, 77, 89, 1) 100%);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .navtextmenu {
        background: yellowgreen;
    }
    .textcontent {
        color: white;
        font-size: 18px;
    }
    .gamemenuimg {
        width: 150px;
        height: 100px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .promotionlayout {
        width: 100%;
    }
    .promotionimg {
        width: 95%;
        height: 350px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .demogamemenu {
        width: 300px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .demogamerow {
        width: 100%;
    }
    .demogameimg {
        width: 120px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .mobilemenu {
        background: rgb(67, 151, 141);
        background: linear-gradient(177deg, rgba(67, 151, 141, 1) 0%, rgba(38, 77, 89, 1) 100%);
        color: white;
        text-align: center;
        width: 100%;
        height: 100px;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2021-3-24 22:11:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}